<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Collaborations:</p>
<ul>
  <% @user.collaborations.each do |collaboration| %>
    <li><%= link_to collaboration.name, collaboration %></li>
  <% end %>
</ul>
<p>Participating in:</p>
<ul>
  <% @user.collaborations_as_participant.each do |collaboration| %>
    <li><%= link_to collaboration.name, collaboration %></li>
  <% end %>
</ul>
<% if @user.id == current_user.id %>
  <p>Invitations:</p>
  <ul>
    <% @user.invitations.each do |invitation| %>
      <li><%= link_to invitation.collaboration.name, invitation %></li>
    <% end %>
  </ul>
  <%= link_to 'Create a Collaboration', new_collaboration_path %>
<% end %>
